<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.css">
    <title>Contact</title>
</head>

<body class="bg-gray-100">

    <!-- Barre de navigation horizontale -->
    <nav class="bg-green-500 p-4 flex justify-between items-center text-white">
        <div>
            <span class="text-lg font-bold">Pharmacie Sautheuz</span>
        </div>
        <div class="flex items-center">
            <input type="text" placeholder="Recherche..."
                class="px-2 py-1 border border-gray-300 rounded-lg bg-gray-100 text-black">
            <button
                class="p-2.5 rounded-full items-center bg-gradient-to-r from-green-600 to-blue-500 hover:to-blue-600 ml-3">
                <img src="<%= loupe %>" alt="Loupe Icon" class="w-4 h-4">
            </button>
        </div>
    </nav>

    <div class="flex">
        <!-- Barre de navigation verticale -->
        <nav class="bg-blue-900 text-white p-4 flex-shrink-0 w-1/6 h-screen overflow-y-auto">
            <a href="/espace_pharmaciens" class="block px-4 py-2 flex-grow text-lg">Espace Pharmacien</a><br><br>
            <a href="/gestion_des_traitements" class="block px-4 py-2 flex-grow text-lg">Gestion des
                Traitements</a><br><br>
            <a href="/stock_de_medicaments" class="block px-4 py-2 flex-grow text-lg">Stock de Médicaments</a><br><br>
            <a href="/contact" class="block px-4 py-2 flex-grow text-lg">Contact</a><br><br>
            <a href="/a_propos" class="block px-4 py-1 flex-grow text-lg">À Propos</a><br><br>
            <a href="/faq" class="block px-4 py-2 flex-grow text-lg">FAQ</a><br><br>
            <a href="/conditions_utilisation" class="block px-4 py-2 flex-grow text-lg">Conditions
                d'Utilisation</a><br><br>
            <a href="/politique_confidentialite" class="block px-4 py-2 flex-grow text-lg">Politique de
                Confidentialité</a><br><br>
            <a href="/deconnexion" class="block px-4 py-2 flex-grow text-lg">Déconnexion</a>
        </nav>

        <div class="flex-grow overflow-y-auto p-4">
            <h1 class="text-2xl font-bold underline mb-20">Contact</h1>
            <div class="bg-gray-200 p-6 shadow-md rounded-md">
                <p class="mb-4">N'hésitez pas à nous contacter pour toute question, préoccupation ou information
                    supplémentaire. Notre équipe est là pour vous aider.</p>
                <!-- Formulaire de Contact -->
                <h2 class="text-xl font-bold mb-2">Formulaire de Contact</h2>
                <form action="/envoyer_message" method="post" class="mt-4">
                    <label for="nom" class="block text-sm font-medium text-gray-700">Nom complet</label>
                    <input type="text" id="nom" name="nom" required
                        class="mt-1 p-2 border border-gray-300 rounded-md w-full">

                    <label for="email" class="block text-sm font-medium text-gray-700 mt-4">Adresse e-mail</label>
                    <input type="email" id="email" name="email" required
                        class="mt-1 p-2 border border-gray-300 rounded-md w-full">

                    <label for="message" class="block text-sm font-medium text-gray-700 mt-4">Message</label>
                    <textarea id="message" name="message" rows="4" required
                        class="mt-1 p-2 border border-gray-300 rounded-md w-full"></textarea>

                    <label for="emailDestination" class="block text-sm font-medium text-gray-700 mt-4">Adresse e-mail de
                        destination</label>
                    <input type="email" id="emailDestination" name="emailDestination" required
                        class="mt-1 p-2 border border-gray-300 rounded-md w-full">

                    <button type="submit"
                        class="mt-4 p-2 bg-blue-500 mb-2 text-white rounded-md hover:bg-blue-600">Envoyer</button>
                </form>
                <h2 class="text-xl font-bold mb-2">Coordonnées</h2>

                <p class="mb-4">Adresse: 123 Rue de la Pharmacie, 66666 VilleOublié</p>
                <p class="mb-4">Téléphone: +33 1 234 567 89</p>
                <p class="mb-4">Email: pharmacieaupif@gmail.com</p>
            </div>
        </div>
    </div>
</body>

</html>