<!-- Stock de médicaments - index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.css">
    <title>Stock de médicaments</title>
</head>

<body>
    <div class="bg-gray-100 m-0 overflow-hidden">
        <!-- Barre de navigation horizontale -->
        <nav class="bg-green-500 p-4 flex justify-between items-center text-white">
            <div>
                <span class="text-lg font-bold">Pharmacie Sautheuz</span>
            </div>
            <div class="flex items-center">
                <input type="text" placeholder="Recherche..."
                    class="px-2 py-1 border border-gray-300 rounded-lg bg-gray-100 text-black">
                <button
                    class="p-2.5 rounded-full items-center bg-gradient-to-r from-green-600 to-blue-500 hover:to-blue-600 ml-3">
                    <img src="<%= loupe %>" alt="Loupe Icon" class="w-4 h-4">
                </button>
            </div>
        </nav>
    </div>

    <div class="flex">
        <!-- Barre de navigation verticale -->
        <nav class="bg-blue-900 text-white p-4 flex-shrink-0 w-1/6 h-screen overflow-y-auto">
            <a href="/espace_pharmaciens" class="block px-4 py-2 flex-grow text-lg">Espace Pharmacien</a><br><br>
            <a href="/gestion_des_traitements" class="block px-4 py-2 flex-grow text-lg">Gestion des Traitements</a><br><br>
            <a href="/stock_de_medicaments" class="block px-4 py-2 flex-grow text-lg">Stock de Médicaments</a><br><br>
            <a href="/contact" class="block px-4 py-2 flex-grow text-lg">Contact</a><br><br>
            <a href="/a_propos" class="block px-4 py-1 flex-grow text-lg">À Propos</a><br><br>
            <a href="/faq" class="block px-4 py-2 flex-grow text-lg">FAQ</a><br><br>
            <a href="/conditions_utilisation" class="block px-4 py-2 flex-grow text-lg">Conditions d'Utilisation</a><br><br>
            <a href="/politique_confidentialite" class="block px-4 py-2 flex-grow text-lg">Politique de Confidentialité</a><br><br>
            <a href="/deconnexion" class="block px-4 py-2 flex-grow text-lg">Déconnexion</a>
        </nav>

        <div class="flex-grow overflow-y-auto p-4">
            <h1 class="text-2xl font-bold mb-4">Stock de médicaments</h1>
            
            <!-- Formulaire pour ajouter un médicament -->
            <form id="ajoutMedicamentForm" class="mb-4 flex">
                <div class="mr-4">
                    <input type="text" placeholder="Nom du médicament"
                        class="px-2 py-1 border border-gray-300 rounded-lg bg-gray-100 text-black" id="nomMedicament" required>
                </div>
                <div class="mr-4">
                    <input type="number" placeholder="Stock disponible"
                        class="px-2 py-1 border border-gray-300 rounded-lg bg-gray-100 text-black" id="stockDisponible" required>
                </div>
                <button type="button"
                    class="p-2.5 rounded-full items-center bg-gradient-to-r from-green-600 to-blue-500 hover:to-blue-600" onclick="ajouterMedicament()">
                    Ajouter
                </button>
            </form>

            <!-- Sélection du médicament pour modifier le stock -->
            <div id="modificationStock" class="flex">
                <select class="mr-4 px-2 py-1 border border-gray-300 rounded-lg bg-gray-100 text-black" id="selectMedicament" required>
                    <!-- Options de la liste déroulante seront ajoutées dynamiquement -->
                </select>
                <input type="number" placeholder="Nouveau stock"
                    class="mr-4 px-2 py-1 border border-gray-300 rounded-lg bg-gray-100 text-black" id="nouveauStock" required>
                <button type="button"
                    class="p-2.5 rounded-full items-center bg-gradient-to-r from-green-600 to-blue-500 hover:to-blue-600" onclick="modifierStock()">
                    Confirmer
                </button>
                <button type="button"
                    class="p-2.5 rounded-full items-center bg-gradient-to-r from-green-600 to-blue-500 hover:to-blue-600" onclick="supprimerMedicament()">
                    Supprimer
                </button>
            </div>
            
        </div>
    </div>

    <script>

        // Fonction pour charger la liste des médicaments
        function chargerListeMedicaments() {
            // Récupère la liste des médicaments depuis le serveur
            fetch('/liste_medicaments')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Erreur HTTP! Statut: ${response.status}`);
                    }
                    return response.json();
                })
                .then(listeMedicaments => {
                    const selectMedicament = document.getElementById('selectMedicament');

                    // Vide la liste déroulante
                    selectMedicament.innerHTML = "";

                    // Ajoute chaque médicament à la liste déroulante
                    listeMedicaments.forEach(medicament => {
                        const option = document.createElement("option");
                        option.text = medicament.nom;
                        option.value = medicament.nom;
                        selectMedicament.add(option);
                    });
                })
                .catch(error => {
                    console.error("Erreur lors de la récupération de la liste des médicaments:", error);
                });
        }


        // Appelle la fonction au chargement de la page
        window.onload = chargerListeMedicaments;


        // Fonction pour ajouter un médicament
        function ajouterMedicament() {
            const nomMedicament = document.getElementById('nomMedicament').value;
            const stockDisponible = document.getElementById('stockDisponible').value;

            if (!nomMedicament || !stockDisponible) {
                alert('Veuillez remplir tous les champs obligatoires.');
                return false; // Empêche la soumission du formulaire
            } else if (stockDisponible < 0) {
                alert('Vous ne pouvez pas entrer une valeur négative.');
                return false; // Empêche la soumission du formulaire
            } else {
                // Envoie les données au serveur
                fetch('/ajouter_medicament', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify([{ nomMedicament, stockDisponible }]),
                })
                .then(response => response.json())
                .then(data => {
                    // Traite la réponse du serveur (par exemple, actualise la liste des médicaments)
                    console.log(data);
                    
                    // Redirige l'utilisateur côté client
                    window.location.href = '/stock_de_medicaments';
                })
                .catch(error => {
                    console.error(error);
                });
            }
        }

        // Fonction pour modifier le stock d'un médicament
        function modifierStock() {
            const selectedMedicament = document.getElementById('selectMedicament').value;
            const nouveauStock = document.getElementById('nouveauStock').value;

            if (!selectedMedicament || !nouveauStock) {
                alert('Veuillez remplir tous les champs obligatoires.');
                return false; // Empêche la soumission du formulaire
            } else if (nouveauStock < 0) {
                alert('Vous ne pouvez pas entrer une valeur négative.');
                return false; // Empêche la soumission du formulaire
            } else {
                // Envoie les données au serveur
                fetch('/modifier_stock', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ selectedMedicament, nouveauStock }),
                })
                .then(response => response.json())
                .then(data => {
                    // Traite la réponse du serveur (par exemple, actualise la liste des médicaments)
                    console.log(data);

                    // Redirige l'utilisateur côté client
                    window.location.href = '/stock_de_medicaments';
                })
                .catch(error => {
                    console.error(error);
                });
            }
        }

        // Fonction pour supprimer un stock et le médicament associé
        function supprimerMedicament() {

            const selectedMedicament = document.getElementById('selectMedicament').value;
            console.log(selectedMedicament);

            // Envoie la requête au serveur pour supprimer le stock et le médicament associé
            fetch(`/supprimer_medicament`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ selectedMedicament }),
            })
            .then(response => response.json())
            .then(data => {
                // Traite la réponse du serveur (par exemple, actualise l'affichage des stocks et médicaments)
                console.log(data);
                // Actualise l'affichage des stocks et médicaments ou effectue d'autres actions nécessaires
            
                // Redirige l'utilisateur côté client
                window.location.href = '/stock_de_medicaments';
            })
            .catch(error => {
                console.error(error);
            });
        }

    </script>
</body>

</html>
